{% extends "base.html" %}
{% block content %}
<div class="container">
<br><br>
<center>  
<canvas id="myCanvas" width="500" height="500" style="border:1px solid #d3d3d3;">
Your browser does not support the HTML5 canvas tag.</canvas>

</center>


 
 
</div>
<script>
var x=0;
var y=0;
var posX=40;
var posY=460;
var c = document.getElementById("myCanvas");
var ctx = c.getContext("2d");
ctx.rect(40,40,420,420);
ctx.stroke();
ctx.font = "20px Comic Sans MS";
ctx.fillStyle = "Black";
ctx.textAlign = "left";
ctx.fillText("Cart Bay",10, 490); 
window.onload = function() {
 fetch("http://localhost:5000/getPosition/15").then(response => {
  return response.json();
}).then(data => {
  // Work with JSON data here
  //console.log(responseText);

 var positionData=JSON.parse(data["data"]);
 x=positionData.x;
 y=positionData.y;
ctx.moveTo(x+posX,posY-y);

}).catch(err => {
  // Do something for an error here
});
   
};
window.setInterval(function(){

 
  fetch("http://localhost:5000/getPosition/15").then(response => {
  return response.json();
}).then(data => {
  // Work with JSON data here
  //console.log(responseText);

ctx.arc(x+posX, posY-y, 4, 0, 2 * Math.PI);
ctx.fillStyle = "#FFFFFF";
ctx.fill();
ctx.moveTo(x+posX,posY-y);

 var positionData=JSON.parse(data["data"]);
 x=positionData.x;
 y=positionData.y;
ctx.lineTo(x+posX,posY-y);
ctx.fillStyle = "#000000";
ctx.stroke();

ctx.beginPath();
ctx.arc(x+posX, posY-y, 3, 0, 2 * Math.PI);
ctx.fill();



}).catch(err => {
  // Do something for an error here
});
  
  /// call your function here
}, 5000);

 
  </script>
{% endblock %}

