{% extends "base.html" %}
{% block content %}
<div class="container">
   <table class="table table-striped">
    <thead>
      <tr>
        <th>Resource</th>
        <th>Store Position</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td>{{ user.name}}</td>
        <td><button type="button" id="button{{user._id}}" class="btn btn-primary" data-toggle="modal" data-target="#{{user._id}}">View Position</button></td>
      <div class="modal" id="{{user._id}}">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Resource {{user.name}}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <center>  
<canvas id="canvas{{user._id}}" width="500" height="500" style="border:1px solid #d3d3d3;">
Your browser does not support the HTML5 canvas tag.</canvas>

</center>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
              <script>
$('#button{{user._id}}').on('click', function() {
var x=0;
var y=0;
var posX=40;
var posY=460;
var c = document.getElementById("canvas{{user._id}}");
var ctx = c.getContext("2d");
ctx.rect(40,40,420,420);
ctx.stroke();
ctx.font = "20px Comic Sans MS";
ctx.fillStyle = "Black";
ctx.textAlign = "left";
ctx.fillText("Cart Bay",10, 490);    
fetch("/getPosition/{{user.currentCart}}").then(response => {
  return response.json();
}).then(data => {
  // Work with JSON data here
  //console.log(responseText);

 var positionData=JSON.parse(data["data"]);
 x=positionData.x;
 x=x/5;
 y=positionData.y;
 y=y/5;
ctx.moveTo(x+posX,posY-y);

});
window.setInterval(function(){

 
  fetch("/getPosition/{{user.currentCart}}").then(response => {
  return response.json();
}).then(data => {
  // Work with JSON data here
  //console.log(responseText);

ctx.arc(x+posX, posY-y, 4, 0, 2 * Math.PI);
ctx.fillStyle = "#FFFFFF";
ctx.fill();
ctx.moveTo(x+posX,posY-y);

 var positionData=JSON.parse(data["data"]);
 x=positionData.x;
 x=x/5;
 y=positionData.y;
 y=y/5;
ctx.lineTo(x+posX,posY-y);
ctx.fillStyle = "#000000";
ctx.stroke();

ctx.beginPath();
ctx.arc(x+posX, posY-y, 3, 0, 2 * Math.PI);
ctx.fill();



}).catch(err => {
  // Do something for an error here
});
  
  /// call your function here
}, 5000);
});

 


 
  </script>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


{% endblock %}


